body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(165,148,233,1) 100%);
}

.container{
    margin-top: 200px;
    border-radius: 8px;
    border: 1px solid;
    height: 22rem;
    width: 334px;
    height: 515px;
    border: none;
}

.display{
    background-color: rgb(59,68,75);
    color: white;
    text-align: end;
    font-size: 3.5rem;
    padding-top: 14px;
    padding-right: 12px;
    height: 83px;
    pointer-events: none;
}

.operators{
    display: flex;
}

.operators button{
    width: 83.5px;
    height: 83.5px;
    font-size: 1.5rem;
    background: hsl(208, 24%, 74%);
    border: 1px solid;
}

.numbers{
    display: flex;
    flex-wrap: wrap;
    width: 250.5px;
}

.numbers button{
    width: 83.5px;
    height: 83.5px;
    font-size: 1.5rem;
    border: 1px solid;
}

#equals{
    position: absolute;
    left: 1044px;
    bottom: 204px;
    height: 334px;
    width: 83.5px;
    font-size: 1.5rem;
    background-color: #fc466b;
}

button{
    cursor: pointer;
}